:root{
  --bg-100: rgb(255, 255, 255);
  --text-color: black;
  --primary-color-50: rgb(38, 90, 233);
  --primary-color-100: rgb(57, 105, 240);
  --primary-color-300: rgb(67, 115, 240);
}
html, body, #root, .App {
  color: var(--text-color);
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--bg-100);
}
.App{
  display: flex;
  flex-direction: column;
  background-color: var(--bg-100);
  align-items: center;
}
.App > *{
  flex-shrink: 0;
}
button:hover{
  cursor: pointer;
}

nav{
  background-color: greenyellow;
}
nav > img {
  max-height: 100px;
}


/*TEMP*/

.edit-profile{
  display: flex;
  flex-direction: column;
}
.flex-row{
  display: flex;
  flex-direction: row;
}
